/*===============*/
/*Global Syles   */
/*===============*/

* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	word-spacing: 0.05em;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

/*===============*/
/*Heading Navbar*/
/*===============*/

#nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	background: rgba(255,255,255,0.97);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	position: fixed;
	z-index: 2000;
}

.header-img {
	flex: 1;
	display: flex;
	margin-left: 12%;
}

.navigation {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	font-size: 0.7em;
}

.login {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	font-size: 0.7em;
	margin-right: 12%;
}

.login > li {
	align-self: center;
	font-weight: 700;
}

.get-started {
	background-color: #540CFA;
	margin-left: 10%;
	padding: 16px 41px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(60, 9, 179, 0.3);
	transition: .7s ease-in-out;
	cursor: pointer;
	color: #fff;
}

.get-started:hover {
	background-color: #7642ed;
}

h2 {
	font-weight: bold;
	line-height: 24px;
}

h2 > .track {
	color: #540CFA;
}

/*===============*/
/*Hero Section   */
/*===============*/

.hero {
	padding-top: 50px;
}

.shape-container {
	width: 850px;
	height: 850px;
	position: absolute;
	left: 75%;
	top: -120px;
}

.shape1 {
	height: 600px;
	width: 600px;
	background-image: linear-gradient(to left bottom, #1C0FD7, #A10BE2);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	opacity: 0.9;
	border-radius: 40px;
	transform: rotate(45deg);
	position: absolute;
	z-index: 500;
}

.shape2 {
	height: 600px;
	width: 600px;
	background-image: linear-gradient(to left top, #FC3832, #F2C314);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
	opacity: 0.9;
	border-radius: 40px;
	transform: rotate(65deg);
	position: absolute;
}

/*======================*/
/*email subscribe form  */
/*======================*/

.banner {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.emailnewsletter {
	max-width: 570px;
	margin-top: 150px;
	margin-left: 12%;
}

form {
	width: 80%;
}

.subscribe {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
}

.emailnewsletter > h1 {
	font-size: 4em;
	font-weight: 900;
	line-height: 72px;
	margin-bottom: 20px;
}

.emailnewsletter > p {
	font-size: 1.16em;
	line-height: 32px;
	font-weight: 300;
	max-width: 480px;
	margin-bottom: 29px;
}

.full-input {
	display: flex;
	border: 0.5px solid rgba(0,0,0,0.05);
	background: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
}

.email-label {
	 color: #540cfa;
	 display: block;
	 font-size: 0.6em;
	 font-weight: 700;
	 line-height: 16px;
}

.label-input-wrapper {
	margin-top: 5px;
	flex: 10;
}

.label-input-wrapper input[type="email"] {
	width: 100%;
	min-height: 1.5rem;
}


/*get rid of yellow ackground in input element in Google Chrome*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
	outline: none;
	border: none;
	text-overflow: ellipsis;
}

#emailsubscribe-button {
	height: 53px;
	width: 7.83rem;
	flex: 1 0 141px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #540CFA;
	font-weight: 700;
	color: #fff;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

.iphone {
	z-index: 1000;
	margin-top: 85px;
	margin-right: 12%;
	height: 620px;
	width: 310px;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}


/*======================*/
/*Compatible Logos      */
/*======================*/


.compatiblewith {
	margin-top: 170px;
}

.compatible {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	color: #d3d3d3;
}

.compatiblelogos {
	display: flex;
	max-width: 90%;
	justify-content: space-between;
	margin-top: 1em;
}

.shape3 {
	width: 300px;
	height: 300px;
	background-image: linear-gradient(to left top, #3214F2, #32FBFC);
	position: absolute;
	transform: rotate(45deg);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	border-radius: 40px;
	left: -10%;
}

/*======================*/
/*Features section      */
/*======================*/

.features {
	max-width: 1100px;
	margin: 0 auto;
}

.description-features {
	text-align: center;
	max-width: 610px;
	margin: 0 auto;
}

.description-features > h4 {
	line-height: 23px;
	font-weight: 300;
	font-size: 18px;
	margin: 140px 0 40px 0;
}

.description-features > h2 {
	font-weight: 900;
	font-size: 60px;
	line-height: 63px;
	margin-bottom: 40px;
}

.description-features > p {
	font-size: 21px;
	line-height: 32px;
	font-weight: 100;
}

/*Features */

.feature-learnmore {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 80px;
}

.features-wrapper {
	max-width: 300px;
	text-align: center;
}

.features-wrapper > h5 {
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
}

.features-wrapper > p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 8px 0 10px 0;
}

.features-wrapper > a {
	color: #540CFA;
	font-size: 16px;
	line-height: 24px;
}

.shape {
	width: 50px;
	height: 50px;
	border-radius: 14px; 
	margin: 10px auto; 
}

.tracking-shape {
	background-image: linear-gradient(to left top, #1C0FD7, #9c09db);
}

.machine-shape {
	background-image: linear-gradient(to left top, #fc3832, #f2c314);
}

.smart-notifications-shape {
	background-image: linear-gradient(to left top, #3214f2, #32fbfc);
}


/*.icons {
	vertical-align: middle;
	height: auto;
	line-height: 45px !important;
} align icons center of a div*/

.shape {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*======================*/
/*TV Shows Showcase     */
/*======================*/

.tv-shows {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 300px;
	margin-top: 100px;
	justify-content: center;
	padding-left: 40px;
	padding-right: 40px;
}

.tv-shows > img {
	width: 220px;
	height: 330px;
	border-radius: 6px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
	margin: 40px;
}

/*======================*/
/*App Showcase Styles   */
/*======================*/


.app-showcase {
	margin-top: 140px;
	margin-left: 12%;
	display: flex;
}

.app-description {
	max-width: 460px;
}

.app-description > h2 {
	font-size: 46px;
	line-height: 50px;
	font-weight: 700;
}

.app-description > p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 20px;
}

.modes-carousel {
	margin-top: 40px;
	height: 184px;
}

.modes {
	display: flex;
	padding: 15px 15px;
	cursor: pointer;
	max-width: 340px;
}

.modes:hover {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
}

.modes > span {
	padding-left: 20px;
	font-size: 16px;
}

.iphone-mockup {
	position: relative;
	left: 200px;
	top: 74px;
	z-index: 1000;
}

.web-app-mockup {
	position: relative;
	left: 59px;
	bottom: 150px;
}

/*======================*/
/*Testimonials          */
/*======================*/

.testimonials {
	margin-top: 214px;
	height: 800px;
	width: 100%;
	background-color: #000;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

}

.testimonials .testimonials-description {
	max-width: 460px;
	margin-left: 12%;
}

.testimonials .testimonials-description > h5 {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 9px;
}

.testimonials .testimonials-description > h2 {
	font-size: 46px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 20px;
}

.testimonials .testimonials-description > p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 30px;
}

.testimonials-button {
	background-color: #540cfa;
	max-width: 216px;
	box-shadow: 0px 1px 2px 0px rgba(32, 5, 97, 0.08);
	border: none;
	padding: 10px 24px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

/* Testimonials Box Styles */

.people-testimonials {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.testimonials-box {
	background: rgba(255, 255, 255, 0.08);
	max-width: 260px;
	border-radius: 10px;
}

.testimonial-content {
	padding: 10px 15px;
}

.testimonial-credentials {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.testimonial-name-pic {
	display: flex;
	align-items: center;
}

.testimonial-name {
	margin-left: 8px;
	font-size: 12px;
	line-height: 16px;
}

.testimonial-content > p {
	font-size: 13px;
	line-height: 20px;
	margin: 14px 0 35px 0;
}

.testimonial-content > span {
	font-size: 12px;
	line-height: 16px;
}



















