/*===============*/
/*Global Syles   */
/*===============*/

* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	word-spacing: 0.05em;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
}

/*===============*/
/*Heading Navbar*/
/*===============*/

#nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	background: rgba(255,255,255,0.97);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	position: fixed;
	z-index: 2000;
}

.header-img {
	flex: 1;
	display: flex;
	margin-left: 12%;
}

.navigation {
	flex: 1;
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	font-size: 0.7em;
}

.login {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	font-size: 0.7em;
	margin-right: 12%;
}

.login > li {
	align-self: center;
	font-weight: 700;
}

.get-started {
	background-color: #540CFA;
	margin-left: 10%;
	padding: 16px 41px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(60, 9, 179, 0.3);
	transition: .7s ease-in-out;
	cursor: pointer;
	color: #fff;
}

.get-started:hover {
	background-color: #7642ed;
}

h2 {
	font-weight: bold;
	line-height: 24px;
}

h2 > .track {
	color: #540CFA;
}

/*===============*/
/*Hero Section   */
/*===============*/

.hero {
	height: 1312.13px;
	padding-top: 50px;
}

.shape-container {
	width: 850px;
	height: 850px;
	position: absolute;
	left: 75%;
	top: -120px;
}

.shape1 {
	height: 600px;
	width: 600px;
	background-image: linear-gradient(to left bottom, #1C0FD7, #A10BE2);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	opacity: 0.9;
	border-radius: 40px;
	transform: rotate(45deg);
	position: absolute;
	z-index: 500;
}

.shape2 {
	height: 600px;
	width: 600px;
	background-image: linear-gradient(to left top, #FC3832, #F2C314);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
	opacity: 0.9;
	border-radius: 40px;
	transform: rotate(65deg);
	position: absolute;
}

/*======================*/
/*email subscribe form  */
/*======================*/

.banner {
	display: flex;
	justify-content: space-around;
}

.emailnewsletter {
	max-width: 570px;
	margin-top: 150px;
}

form {
	width: 80%;
}

.subscribe {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
}

.emailnewsletter > h1 {
	font-size: 4em;
	font-weight: 900;
	line-height: 72px;
	margin-bottom: 20px;
}

.emailnewsletter > p {
	font-size: 1.16em;
	line-height: 32px;
	font-weight: 300;
	max-width: 480px;
	margin-bottom: 29px;
}

.full-input {
	display: flex;
	border: 0.5px solid rgba(0,0,0,0.05);
	background: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
}

.email-label {
	 color: #540cfa;
	 display: block;
	 font-size: 0.6em;
	 font-weight: 700;
	 line-height: 16px;
}

.label-input-wrapper {
	margin-top: 5px;
	flex: 10;
}

.label-input-wrapper input[type="email"] {
	width: 100%;
	height: 1.5rem;
}

/*get rid of yellow ackground in input element in Google Chrome*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
	outline: none;
	border: none;
	line-height: 0.8em;
	text-overflow: ellipsis;
}

#emailsubscribe-button {
	height: 53px;
	width: 7.83rem;
	flex: 1 0 141px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #540CFA;
	font-weight: 700;
	color: #fff;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

.iphone {
	z-index: 1000;
	margin-top: 85px;
	
	height: 620px;
	width: 310px;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}









